body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

h1 {
  margin: 0;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav button {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Agrega una transición suave al cambio de color de fondo */
}

nav button:hover {
  background-color: #555; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}

.component {
  display: none;
}

/* Agrega estilos para el botón resaltado */
button.resaltado {
  background-color: #000000;
  color: white;
}